<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Post</title>
    <link rel="stylesheet" href="/newPost.css">
</head>
<body>
    <div class="createPost">   
        
    <form class="form" method="post" action="/posts">
        <h1>Create a New post</h1>  
        <h4>What is your username?</h4>
        <input placeholder="Enter username" name="username" type="text" / >
        <h4>Write a post below</h4>
        <textarea placeholder="Write your post" name="content"></textarea>
        <br>
        <button>Submit</button>
    </form>
</div>
    
</body>
</html>